@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#header-bar {
	width: 100%;
	height: 60px;
	background-color: rgb(0, 145, 234);
	line-height: 60px;
	font-family: -apple-system,Helvetica Neue,Arial,PingFang SC,lucida grande,lucida sans unicode,lucida,helvetica,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	cursor: pointer;
}

#header-bar-center{
	margin: 0 auto;
	width:1000px;
	height: 60px;
}

.whitecolor{
	color: white;
}

#businesscenterspan{
	font-size: 20px;
	font-weight: 700;

}

#integrity-book{
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;	
}

#integrity-book:hover{
	text-decoration: underline;
}

#pleasecontact{
	font-size: 14px;
	float:right;
}

#guider-bar {
	width: 100%;
	height: 60px;
	background-color: #455a64;
}

#guider-bar-center{
	margin: 0 auto;
	width:1000px;
	height: 60px;
}

#content {
	width: 100%;
	height: 1800px;
	background-color: rgb(246, 246, 246);
}

#content-center {
	margin: 0 auto;
	padding: 32px 50px;
	height: 1470px;
	width: 900px;
	background-color: white;
}

.single-line {
	height: 40px;
	margin-bottom: 25px;
}

.title-head {
	font-family: -apple-system, Helvetica Neue, Arial, PingFang SC, lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
	font-size: 16px;
	color: #333;
}

.title {
	font-family: -apple-system, Helvetica Neue, Arial, PingFang SC, lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
	font-size: 14px;
	color: #333;
	margin-right: 30px;
	display: inline-block;
}

.title-span {
	color: red;
	margin-right: 5px;
}

.input-box {
	border: 1px solid rgb(204, 204, 204);
	padding: 6px 12px;
	border-radius: 4px;
	height: 20px;
}

#shopname {
	width: 316px;
	margin-left: 14px;
}

#outtel{
	margin-left: 14px;
}

#shopcatalog{
	margin-left: 12px;
}

#opentime{
	margin-left:14px;
}

.radiospan {
	font-family: -apple-system, Helvetica Neue, Arial, PingFang SC, lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
	font-size: 14px;
	color: #333;
	margin-right: 15px;
}

.timespan {
	font-family: -apple-system, Helvetica Neue, Arial, PingFang SC, lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
	font-size: 14px;
	color: #333;
	margin-right: 10px;
}

.time {
	margin-right: 10px;
}

.address {
	width: 160px;
	height: 33px;
	border-radius: 4px;
	margin-right: 10px;
	padding-left: 10px;
}

#province{
	margin-left: 35px;
}

#detailaddress {
	width: 319px;
	margin-left: 8px;
}

#locate {
	background-color: #0091ea;
	width: 66px;
	height: 32px;
	border: 0;
	border-radius: 4px;
	color: white;
	margin-left: 10px;
}

#map {
	width: 787px;
	height: 500px;
	border: 1px solid rgb(204, 204, 204);
	margin-left: 110px;
	margin-bottom: 25px;
}

.photo{
	/*vertical-align: middle;*/
}

.box{
	margin-left: 6px;
	width: 790px;
	height: 94px;
	border: 1px solid rgb(204, 204, 204);
	display: inline-block;
}

#downbox{
	margin-left: 107px;
}

#logobox{
	width: 320px;
	margin-left: 2px;
	margin-top: 25px;
}

#otherplatform{
	width: 900px;
	height: 80px;
	background-color: #f5f5f5;
	line-height: 80px;
	margin-top: 25px;
}

#otherlinktitle{
	height: 80px;
	margin-left: 40px;
}

#otherlink{
	width: 319px;
}

#btn-group{
	margin: 35px auto;
	width:900px;
	text-align: center;
}

.stepbtn{
	height: 50px;
	border-radius: 4px;
	border: 1px solid rgb(204, 204, 204);
	margin-right: 20px;
}

#stepback{
	width: 198px;
	background-color: white;
}

#stepforward{
	width: 318px;
	background-color: #0091ea;
	color: white;
}


