@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}

#head-div {
	width: auto;
	height: 190px;
	background-image: url(../../img/shop/index/shop-bg.0391dd.jpg);
}

#head-bar {
	width: 100%;
	height: 48px;
	background-color: rgba(0, 0, 0, 0.4);
	line-height: 48px;
}

#head-bar-center {
	margin: 0 auto;
	height: 48px;
	width: 1180px;
	color: white;
	font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
	font-size: 16px;
}

#logo {
	width: 114px;
	height: 48px;
	margin-right: 10px;
	background-image: url(../../img/logo/千百度logo.png);
	background-size: cover;
}

#head-bar-ul li {
	list-style: none;
}

li {
	float: left;
	width: 112px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	cursor: pointer;
	margin-right: 10px;
}

nav {
	width: 500px;
	height: 48px;
	line-height: 48px;
	float: right;
	font-size: 14px;
}

nav a {
	width: 106px;
	height: 48px;
	padding: 0 10px;
	margin: auto 10px;
	color: rgb(204, 204, 204);
}

nav a:hover {
	color: white;
	cursor: pointer;
}

#lr {
	float: right;
	text-align: right;
}

#shgop-title-ul li {}

#div-center {
	margin: 0 auto;
	width: 1180px;
	height: 142px;
	position: relative;
}

#shop-title {
	display: inline-block;
	width: 480px;
	height: 142px;
	overflow: hidden;
	font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}

#shop-title:hover {
	overflow: visible;
	z-index: 10;
}

#shop-title-all {
	width: 480px;
	height: 288px;
}

#shop-face {
	width: 95px;
	height: 95px;
	border-radius: 50%;
	border: 4px solid rgba(0, 0, 0, 0.4);
	margin-top: 4%;
}

#shop-introduce {
	margin-left: 3%;
	width: 220px;
	height: 71px;
	display: inline-block;
	color: white;
	vertical-align: top;
	margin-top: 7%;
}

#shop-name {
	font-weight: 400;
	font-size: 20px;
	max-width: 270px;
	display: block;
}

#shop-details {
	display: block;
	margin-top: 7%;
	font-size: 14px;
	font-weight: normal;
}

#shop-info {
	width: 470px;
	height: 90px;
	position: absolute;
	top: 30%;
	left: 60%;
	color: white;
}

.info-title {
	margin-right: 20px;
	font-size: 14px;
	margin-right: 105px;
}

.info-content {
	display: inline-block;
	margin-top: 15px;
	margin-right: 90px;
	font-size: 18px;
}

#ilike {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 40px;
	color: white;
	cursor: pointer;
}

#ilike:hover {
	color: yellow;
	cursor: pointer;
}

#sort-bar {
	width: 100%;
	height: 59px;
}

#sort-bar-center {
	width: 1180px;
	height: 59px;
	margin: 0 auto;
	position: relative;
}

#sort-bar-left {
	width: 400px;
	height: 57px;
	display: inline-block;
}

.nav-bar-a {
	font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
	font-size: 16px;
	line-height: 57px;
	width: 110px;
	height: 57px;
	display: inline-block;
	text-align: center;
	color: #333333;
	text-decoration: none;
}

.nav-bar-a:hover{
	color: rgb(0,137,220);
	border-bottom: 5px solid #0089dc;
}
.nav-bar-a:active{
	color: #0089dc;
}

.nav-bar-span {
	color: #C1C1C1;
}

.nav-bar-b {
	font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
	font-size: 14px;
	line-height: 57px;
	width:70px;
	height: 57px;
	display: inline-block;
	text-align: center;
	color: #333333;
	text-decoration: none;
}

#sort-bar-right{
	width: 400px;
	height: 57px;
	display: inline-block;
	position: absolute;
	right: 200px;
}

.nav-bar-b:hover{
	color: #0089dc;
}
.nav-bar-b:active{
	color: #0089dc;
}

#search-bar {
	position: absolute;
	top: 20%;
	right: 0;
	display: inline-block;
	width: 262px;
	height: 32px;
	border: 1px solid #ccc;
}

#search-box {
	width: 216px;
	height: 24px;
	margin: auto 8px;
	border: 0;
}

#search-btn {
	width: 22px;
	height: 22px;
	font-size: 22px;
	position: relative;
	top: 4px;
	left: -5px;
}

#shop-title-ul li {
	list-style: none;
}

#content {
	width: 100%;
	height: 2000px;
	background-color: #f7f7f7;
}

#content-center {
	margin: 0 auto;
	width: 1180px;
	height: 2000px;
	position: relative;
}

#content-center-right {
	position: absolute;
	right: 0;
	background-color: #a1a1a1;
}

#content-center-left {
	position: absolute;
	left: 0;
	width: 883px;
	height: 2000px;
}

#shop-notice {
	width: 280px;
	height: 400px;
	background-color: pink;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 20px;
}

#head-catalog {
	width: 851px;
	height: 74px;
	padding: 10px 15px 5px 15px;
	border: 1px solid #eee;
	margin-top: 20px;
	background-color: white;
}

.catalog{
	width: 16%;
	display: inline-block;
	text-decoration: none;
	color: #666;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 3px 10px;
}

.catalog:hover{
	background-color: rgb(238,238,238);
}

.goods-display {
	width: 900px;
	height: 500px;
}

.title {
	height: 30px;
	padding: 20px 15px 10px 15px;
	color: rgb(51,51,51);
}

h3{
	display: inline-block;
	font-weight: normal;
	color: rgb(51,51,51);
}

.catalog-introduce{
	margin-left: 3px;
	font-size: 12px;
	color: rgb(153,153,153);
}

.good-display {
	width: 421px;
	height: 100px;
	padding-right: 10px;
	border: 1px solid #eee;
	margin-right: 14px;
	background-color: black;
	display: inline-block;
}

.food-img{
	
}

P {
	color: white;
}