* {
	margin: 0;
	padding: 0;
}

#shouye {
	line-height: 60px;
	background-color: #1E89E0;
	width: 100%;
	height: 60px;
}

#shouye1 {
	width: 1180px;
	height: 60px;
	font-size: 14px;
	margin: 0 auto;
	line-height: 60px;
	/*background-color: black;*/
}

#shouye2 {
	margin: 0;
	padding: 0;
	float: right;
	width: 500px;
	/*background-color: black;*/
}

#dlzc {
	width: 93px;
	float: right;
	color: #fff;
}

#quanbu {
	width: 100%;
	height: 4474px;
	background-color: #F5F5F5;
}

#dzss {
	position: relative;
	width: 1180px;
	height: 54px;
	font-size: 14px;
	margin: 0 auto;
	/*background-color: black;*/
	padding: 0;
}

#dz {
	width: 266.594px;
	height: 54px;
	/*vertical-align: middle;*/
	font-size: 12px;
	float: left;
	/*background-color: wheat;*/
}

#ss {
	/*right: 400px;*/
	/*float: right;*/
	display: block;
	position: absolute;
	left: 894px;
	width: 284px;
	height: 32px;
	margin: 10px 0;
	border: 1px solid #ccc;
	background: #fff;
	z-index: 3;
}

#sqnwm {
	width: 1180px;
	height: 48px;
	font-size: 18px;
	margin: 0 auto;
	border-bottom: 1px #e6e6e6 solid;
	text-align: right;
	/*background-color: wheat;*/
}

#sqnwm1 {
	margin-bottom: 6px;
	display: inline-block;
	width: 186px;
	height: 42px;
	position: relative;
	cursor: pointer;
	z-index: 2;
}

#qbsj {
	width: 1180px;
	height: 4371px;
	font-size: 14px;
	margin: 0 auto;
	/*background-color: wheat;*/
}

#sjfl {
	height: 74px;
	line-height: 26px;
	padding: 10px 10px 10px 7em;
	background-color: #fff;
	position: relative;
	border-bottom-color: #e6e6e6;
}

#qbdp {
	position: relative;
	border: 1px solid #e6e6e6;
	border-bottom: 0;
	margin-top: 20px;
	background: #fff;
}

#clearfix {
	height: 1680px;
}

#rstblock-logo {
	padding: 20px;
	color: #999;
	text-align: center;
	float: left;
	font-size: 12px;
	position: relative;
}

#rstblock-span {
	color: #999;
	text-align: center;
	font-size: 12px;
	position: absolute;
	top: 100px;
	left: 35px;
	display: block;
}

#rstblock-content {
	width: 255px;
	height: 98px;
	padding: 20px;
	display: block;
}

#rstblock-title {
	font-size: 16px;
	margin-bottom: 6px;
	font-weight: 600;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333;
}

#rstblock-monthsales {
	color: #999;
	margin-left: 10px;
	font-size: 12px;
}

#rstblock-cost {
	color: #999;
	margin-top: 3px;
	font-size: 12px;
	display: block;
}

#rstblock-activity {
	margin-top: 9px;
	display: block;
}

#side-bar {
	background-color: #e6e6e6;
	width: 330px;
	height: 100%;
	position: fixed;
	right: -295px;
	top: 0;
	z-index: 10;
}

#side-bar:focus{
	right: 0;
	/*transition: right 1s;*/
}

#side-menu {
	position: absolute;
	left: 0;
	width: 35px;
	height: 100%;
	background-color: #504d53;
}

#side-menu>a {
	display: block;
	text-align: center;
	color: rgb(204, 204, 204);
	margin: 0 auto;
}

#go-to-order {
	position: absolute;
	top: 250px;
	width: 35px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}

#go-to-cart {
	position: absolute;
	top: 300px;
	width: 35px;
	height: 90px;
	font-size: 15px;
	padding-top: 7px;
}

#go-to-cart>span {
	font-size: 16px;
}

#go-to-mail {
	position: absolute;
	top: 400px;
	width: 35px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}

#appqr {
	position: absolute;
	bottom: 50px;
	width: 35px;
	height: 38px;
	font-size: 22px;
	line-height: 38px;
}

#appqr:hover {
	color: white;
}

#side-menu>a:hover {
	background-color: #26a2ff;
	color: white;
}

#side-bar>#title {
	width: 295px;
	height: 35px;
	background-color: white;
	margin-left: 35px;
	line-height: 35px;
}

#title>a {
	text-decoration: none;
	font-size: 16px;
	color: #333;
	margin-left: 10px;
}

#title>a:hover {
	text-decoration: underline;
}

.cart {
	width: 295px;
	margin-left: 35px;
	margin-top: 12px;
	padding: 15px;
	background-color: white;
	position: relative;
}

.cart-dl {
	width: 275px;
	color: #666;
}

.cart-dt {
	height: 23px;
	border-bottom: 1px solid rgb(221, 221, 221);
}

.cart-dt>span {
	font-size: 12px;
}

.cart-dt>a {
	position: absolute;
	right: 40px;
	font-size: 12px;
	color: #0089dc;
}

.cart-dd {
	font-size: 12px;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 20px;
	line-height: 18px;
}

.price-sum {
	position: absolute;
	right: 45px;
	color: #f17530;
	font-weight: bold;
}

.food-number {
	width: 26px;
	height: 18px;
	text-align: center;
	padding:0;
	border: 1px solid rgb(221, 221, 221);
}

.number-btn {
	background-color: white;
	width: 18px;
	height: 20px;
	border: 1px solid rgb(221, 221, 221);
	text-align: center;
}

#nubmer-btn-group {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	left: 50px;
}

#go-to-confirm-div {
	width: 275px;
	height: 64px;
	background-color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px 10px;
}

#go-to-confirm-div>p {
	width: 275px;
	height: 21px;
	font-size: 14px;
	color: #333;
	text-align: right;
	margin: 0 auto;
	position: absolute;
}

#go-to-confirm-div span {
	color: #F74342;
}

#go-to-confirm-btn {
	display: block;
	width: 275px;
	height: 32px;
	background-color: #fa5858;
	border: none;
	margin: 0 auto;
	font-size: 16px;
	color: white;
	position: absolute;
	bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}