@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

#head-bar {
	width: 100%;
	height: 31px;
	background-color: rgb(0, 137, 220);
	border-bottom: 1px solid rgb(2, 126, 203);
}

#head-menu {
	margin: 0 auto;
	height: 31px;
	width: 1180px;
	/*background-color: pink;*/
}

.carttopbar-nav-path {
	float: left;
	font-size: 12px;
	line-height: 30px;
	color: #fff;
}

.carttopbar-nav-path2 {
	color: #fff;
}

#dlzc {
	float: right;
	color: #fff;
	font-size: 12px;
	line-height: 30px;
}

.checkout {
	padding: 12px 0 0 0;
	line-height: 96px;
	position: absolute;
}

.checkoutguide {
	font-size: 26px;
	color: #fff;
	vertical-align: text-bottom;
	/*border-left: 1px solid #9cc9ee;*/
	position: relative;
	margin-left: 14px;
	display: block;
	margin-left: 137px;
	top: 23px;
}

.checkoutpt {
	position: relative;
	float: right;
	margin-top: -15px;
}

#head-div {
	width: 100%;
	height: 96px;
	background-color: rgb(0, 137, 220);
}

#head-info {
	margin: 0 auto;
	height: 96px;
	width: 1180px;
	/*background-color: pink;*/
}


/*#content {
	width: 100%;
	height: 2000px;
}*/

#content-center {
	margin: 0 auto;
	width: 1180px;
	height: 1500px;
	/*background-color: aliceblue;*/
}

#order-details {
	/*width: 400px;
	height: 600px;
	margin-top: 10px;
	/*background-color: blue;*/
	/*display: inline-block;*/
	float: left;
	width: 34%;
	margin-top: 12px;
	background-color: #fff;
}

#order-details-container {
	border: 1px solid #e0e0e0;
	border-bottom: 0;
	line-height: 1;
	display: block;
	background: url(../../img/zhifu/confirm/边框.jpg)bottom repeat-x;
}

.checkoutcart-title {
	position: relative;
	padding: 20px;
	height: 20px;
	border-bottom: 1px solid #eee;
	line-height: 1;
}

.title-h2 {
	font-size: 16px;
	color: #333;
}

.title1 {
	position: absolute;
	top: 22px;
	right: 28px;
	font-size: 12px;
	color: #666;
}

.checkoutcart-tablerow-tablehead {
	background-color: #fff;
	font-size: 12px;
	font-weight: 700;
	color: #999;
	display: table;
	height: 48px;
	line-height: 48px;
	padding: 0 16px 0 18px;
	width: 91%;
}

.cell-itemname {
	border: 0;
	padding: 5px 0 3px 10px;
	width: 36%;
	font-size: 12px;
	line-height: 1.3;
	display: table-cell;
}

.cell-itemquantity {
	border: 0;
	width: 18%;
	white-space: nowrap;
	text-align: center;
	display: table-cell;
}

.cell-itemtotal {
	border: 0;
	padding-right: 10px;
	text-align: right;
	width: 22%;
	display: table-cell;
}

.checkoutcart-grouptitle-binding {
	border-bottom: 1px solid #eee;
	padding-left: 30px;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	font-weight: 700;
	color: #333;
}

.checkoutcart-tablerow {
	display: table;
	table-layout: fixed;
	background-color: #fcfaf8;
	height: 48px;
	line-height: 48px;
	padding: 0 18px 0 20px;
	width: 90.5%;
	font-size: 14px;
	color: #666;
}

.checkoutcart-tablerow2 {
	display: table;
	table-layout: fixed;
	height: 48px;
	line-height: 48px;
	padding: 0 18px 0 20px;
	width: 90.5%;
	font-size: 14px;
	color: #666;
}

.cell-binding {
	padding: 5px 0 3px 10px;
	width: 45%;
	font-size: 12px;
	line-height: 1.3;
	display: table-cell;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
}

.cell-itemquantity {
	width: 30%;
	text-align: center;
	white-space: nowrap;
	display: table-cell;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
}

.cell-itemquantity2 {
	width: 30%;
	text-align: center;
	white-space: nowrap;
	display: table-cell;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
}

.cell-itemquantity1 {
	width: 30%;
	text-align: center;
	white-space: nowrap;
	display: table-cell;
	vertical-align: middle;
}

.cell-binding1 {
	padding-right: 10px;
	text-align: right;
	width: 25%;
	display: table-cell;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
}

.cell-binding2 {
	padding-right: 10px;
	text-align: right;
	width: 25%;
	display: table-cell;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
}

.cell-li {
	line-height: 1;
	height: 1em;
	padding-top: 18px;
	padding: 18 18px 0 20px;
	width: 90%;
	font-size: 23px;
	color: #666;
}

.cell-canhe {
	position: absolute;
	padding: 5px 0 3px 10px;
	width: 45%;
	font-size: 12px;
	line-height: 1.3;
	display: table-cell;
}

.cell-jiesuan {
	padding: 52px 28px 10px;
	font-size: 24px;
	text-align: right;
	color: #f74342;
}

.cell-jiesuan2 {
	padding: 0 30px 22px;
	font-size: 12px;
	color: #666;
	text-align: right;
}

.cell-jine {
	font-size: 46px;
}

#other-info {
	padding: 25px 20px 150px 30px;
	float: right;
	width: 60.5%;
	border: 1px solid #e0e0e0;
	margin-top: 12px;
	background-color: #fff;
}

.checkout-shdz {
	margin-bottom: 40px;
	font-size: 14px;
	color: #333333;
	height: auto;
}

.checkout-shdz h2 {
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 700;
}

.checkout-tjdz {
	float: right;
	text-decoration: underline;
	font-size: 14px;
	font-weight: 400;
	color: #0089dc;
	text-decoration: none;
}

.checkout-tjdz-bk {
	position: relative;
	display: table;
	z-index: 1;
	margin-bottom: -1px;
	padding: 15px 20px 15px 0;
	width: 96%;
	border: 1px solid #eee;
	border-color: #0089DC;
	cursor: pointer;
	background: url(../../img/zhifu/confirm/边框右下角勾.jpg)right bottom no-repeat;
}

.checkout-tjdz-address {
	display: table-cell;
	padding-left: 16px;
	padding-top: 0;
}

.checkout-fkfs-title {
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 700;
}

.checkout-fkfs-title1 {
	margin-left: 16px;
	font-size: 12px;
	font-weight: 400;
	color: #ff9c00;
}

.checkout-fkfs-pay {
	float: left;
	padding: 11px 20px;
	width: 43%;
	height: auto;
	border: 1px solid #eee;
	border-color: #0089dc;
	cursor: pointer;
	font-size: 14px;
	background: url(../../img/zhifu/confirm/边框右下角勾.jpg)right bottom no-repeat;
	margin-right: 1.6%;
}

.checkout-fkfs-pay2 {
	background-color: #f9f9f9;
	height: auto;
	float: left;
	padding: 11px 20px;
	width: 43%;
	border: 1px solid #eee;
	font-size: 14px;
}

.pay-ng-binding {
	margin-bottom: 4px;
	color: #333333;
}

.pay-ng-binding2 {
	color: #999999;
}

.checkout-xzyh {
	margin-bottom: 40px;
	margin-top: 120px;
	font-size: 14px;
	color: #333333;
	height: auto;
}

.xzyh-ng-binding {
	margin-bottom: 20px;
	font-size: 14px;
	color: #333;
}

.xzyh-ng-span {
	display: inline-block;
	margin-right: 20px;
	width: 5em;
	text-align: right;
}

.qtxx-ng-input {
	padding: 5px 10px;
	width: 235px;
	border: 1px solid #e0e0e0;
	outline: 0;
	color: #666;
}

.checkout-qtxx{
	margin-bottom: 40px;
}
.qrxd-button {
	background-color: #f74342;
	color: #fff;
	padding: 12px 30px;
	font-size: 16px;
	line-height: 1;
	border: none;
	border-radius: 2px;
	outline: 0;
	cursor: pointer;
}